.nav-link{
    color: #fff808;
}
.nav-link:hover{
    color: #b0ac05;
}
.navbar-nav {
    align-items: center;
    text-align: center;
}

.cm-s-monokai{
    height: 100% !important;
}

canvas {
  border: 1px solid red;
  margin: 10px;
}
